nav{
    background: #333 !important;
    border-color: #333 !important;
}

.searchContainer{
    margin-top: 30px;
    padding-top: 30px;
}

.avatar{
    width:100%
}

.btn{
    background: #333 !important;
    border-color: #333 !important;
}